<div class="wrapper">
  <div class="wrapper__header">
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Research</a></li>
      </ul>
    </nav>
    <div class="wrapper__container">
      <tab class="chapters">
        <!-- Method 1
        <% @chapters.each do |chapter|%>
        <tr>
          <td><%= chapter.title[0..255]%></td>
          <br>
        </tr>
        <% end %> -->
        <!-- Method 2 -->
        <tr><%= render @chapters%></tr>
      </tab>
    </div>
  </div>
</div>
